@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue a St-Ephrem</h1>
</div> *@


<!DOCTYPE html>
<html>
    <head>
        <title>St St-Ephrem</title>
        <link rel="stylesheet" href="~/css/homePage.css" type="text/css" />

    </head>

    <body>

        <div class="text-center">
            <h1 class="display-4 welcomeMsg">Bienvenue a St-Ephrem</h1>
            <!-- Example single danger button -->
        <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle dateDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Date
        </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>

        </div>
        
        </div>

        <div class="BigContainer">
            <div class="first">
                <img src="~/images/bench.jpg" alt="">
                 </div>
            <div class="second">
                <img src="~/images/bench.jpg" alt="">
            </div>
            <div class="first">
                <img src="~/images/bench.jpg" alt="">
                 </div>
            <div class="second">
                <img src="~/images/bench.jpg" alt="">
            </div>
            <div class="first">
                <img src="~/images/bench.jpg" alt="">
                 </div>
            <div class="second">
                <img src="~/images/bench.jpg" alt="">
            </div>
        </div>

    </body>
</html>
